/* style.css */

body {
  font-family:  Harrington;
  margin: 0 auto;
  padding: 20px;
  width: 600px;
  background-color: #f0f0f0;
  font-size: 17px;
}

h1, h2 {
  color: #333;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

ul, ol {
  padding: 0;
  list-style-position: inside;
}

li {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}
