/* style.css */

body {
  font-family:  Harrington;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #333;
  margin: 5px;
  padding: 5px;
  font-size: 50px;
}

ul {
  list-style: none;
  font-size: 30px;
}

li {
  margin: 15px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
