@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
	/* Colors */
	--color-primary: #3882F6;
	--color-primary-hover: #2563EB;
	--color-dark: #1F2937;
	--color-light: #F9FAF8;
	--color-text: #E5E7EB;
	--color-secondary: #6B7280;
	--color-accent: #10B981;

	/* Font Sizes */
	--font-size-small: 0.875rem;
	--font-size-medium: 1.125rem;
	--font-size-large: 2.25rem;
	--font-size-x-large: clamp(2rem, 5vw, 3rem);

	/* Spacing */
	--spacing-small: 1rem;
	--spacing-medium: 2rem;
	--spacing-large: 3rem;
}

/* Base Styles */
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Typography */
.heading-large {
	font-size: var(--font-size-x-large);
	color: var(--color-light);
	font-weight: 900;
}

.text-medium {
	font-size: var(--font-size-medium);
	color: var(--color-text);
	max-width: 60ch;
	margin-bottom: var(--spacing-small);
}

.text-small {
	font-size: var(--font-size-small);
}

.text-center {
	text-align: center;
}

.heading-medium {
	font-size: var(--font-size-large);
	color: var(--color-dark);
	margin-bottom: var(--spacing-small);
	text-align: center;
}

/* Layout */
.container {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	justify-content: space-between;
}

/* Components */
.nav-link {
	color: var(--color-text);
	font-size: var(--font-size-medium);
	text-decoration: none;
	transition: color 0.3s ease;
	margin: 0;
	padding: 0;
}

.nav-link:hover {
	color: var(--color-accent);
}

.button {
	border-radius: 0.5rem;
	font-weight: 700;
	font-size: var(--font-size-medium);
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.button-primary {
	background-color: var(--color-primary);
	color: var(--color-light);
}

.button-primary:hover {
	background-color: var(--color-primary-hover);
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

/* Specific Styles */
.header {
	display: flex;
	flex-direction: column;
	background-color: var(--color-dark);
	padding: var(--spacing-medium) 10%;
}

.logo-container > a {
	font-size: 1.5rem;
	font-weight: 900;
	color: var(--color-light);
	text-decoration: none;
	transition: color 0.3s ease;
	margin: 0;
	padding: 0;
}

.logo-container > a:hover {
	color: var(--color-accent);
}
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	gap: 1.5rem;
}

.hero {
	margin: var(--spacing-large) 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacing-medium);
}

.hero-content {
	flex: 1 1 340px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
.hero-image {
	flex: 1 1 340px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info-section {
	display: flex;
	flex-direction: column;	
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-card {
	flex: 1 0 200px; /* Changed from flex: 1 to flex: 1 1 200px */
	min-width: 150px; /* Added min-width */
	max-width: 250px; /* Changed max-width */
	border-color: var(--color-primary);
}

.cta-container {
	background-color: var(--color-primary);
	border-radius: 0.5rem;
	padding: var(--spacing-medium);
	display: flex;
	flex-wrap: wrap; /* Added flex-wrap */
	justify-content: space-between;
	align-items: center;
	gap: var(--spacing-small); /* Added gap */
}

.cta-text {
	color: var(--color-light);
}

.footer {
	background-color: var(--color-dark);
	color: var(--color-text);
	padding: var(--spacing-small) 0;
	width: 100%;
	text-align: center;
}