body {
	font-family: Roboto, monospace;
}

.app {
	display: flex;
	flex-direction: column;
}

.hero {
	display: flex;
	flex-direction: column;
	background: #1F2937;
	padding: 0 128px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	align-self: center;
	font-size:24px;
	color: #F9FAF8;
}

.links {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 1rem;
	font-size: 18px;
	color: #E5E7EB;
}
