@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400&display=swap');

:root {
    --main-bg-color: #f0f0f0;
    --card-bg-color: white;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --font-family: 'Comic Neue', cursive;
    --text-color: #333; /* Color de texto */
}

body {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Eliminar márgenes por defecto */
    background-color: var(--main-bg-color);
}

.game {
    text-align: center;
    background: var(--card-bg-color);
    padding: 30px; /* Aumentar padding */
    border-radius: 15px; /* Bordes más redondeados */
    box-shadow: 0 4px 15px var(--shadow-color);
    color: var(--text-color); /* Color del texto */
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.img-wrapper {
    flex: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.3s; /* Añadir suavidad a la transición */
    min-width: 100px; /* Establecer un ancho mínimo */
    min-height: 100px; /* Establecer una altura mínima */
    padding: 10px; /* Añadir padding para mejorar la apariencia de botón */
    border: 2px solid transparent; /* Borde transparente por defecto */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo por defecto */
}

.img-wrapper:hover {
    transform: scale(1.1);
    background-color: #e0e0e0; /* Cambiar color de fondo al pasar el ratón */
    border: 2px solid #333; /* Borde visible al pasar el ratón */
}

/* Responsive Design */
@media (max-width: 600px) {
    .image-container {
        flex-direction: column;
        align-items: center;
        margin-top: 10px; /* Espaciado adicional en móviles */
    }
}
